/* Adicione estilos conforme necessário */
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #5755a5;
}

/* Estilo para os dias de guarda da mãe */
td.momsDay {
  background-color: red;
  color: white;
}
